body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  line-height: 34px;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}


/*general*/

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}


/*header*/

#masthead {
  position: fixed;
  z-index: 99;
  margin: 0 0 30px;
  overflow: auto;
  width: 100%;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  width: 250px;
  height: 90px;
  float: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  color: #999;
  text-decoration: none;
  line-height: 18px;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}


/*footer*/

footer {
  padding: 30px 0;
  clear: both;
  color: #fff;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}


/*sidebar*/

.sidebar {
  padding: 30px;
  width: 100%;
  max-width: 270px;
  float: right;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}


/*main*/

#main-container {
  padding-top: 130px;
}

.main-section {
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 650px;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
}


/*portfolio page*/

.work {
  position: relative;
  width: 274px;
  overflow: auto;
  float: left;
  margin: 20px 0 25px;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: .8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}


/*contact page*/

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}