/* Site Variables */

// This is the base font size and a variable in which all other sizes should be based on.

// rem is used instead of em because rem always bases itself off the page declared font-size
// em bases itself off of the font-size of the element (it uses inhertiance and thus is harder to predict)
@rem-base:  18px;

// Branding Colors

@brand-primary: #4AAAA5;
@brand-secondary: #4A97DD;
@info: #4681B7;
@success: #46B771;
@warning: #EA7C43;
@danger: #DD524A;

// Gray Scale
@white: #FAFAFA;
@smoke: #C3C3C3;
@gray: #777777;
@oil: #444444;
@black: #222222;

// Typography

@serif-font-family: 'Georgia', Times, Times New Roman, serif;
@sans-serif-font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
