/* Global Styles */

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  line-height: 34px;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

/* General */

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}
